@import "../../style/mixins.scss";

.snippet-editor {
	@include card();

	label,
	input,
	textarea {
		display: block;
	}

    label {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        font-weight: bold;
    }

	input,
	textarea {
        margin-bottom: 1rem;
        padding: 0.3rem 0.5rem;
		width: 100%;
        border-radius: 5px;
        background: var(--dark-color);
	}

    textarea{
        height: 200px;
        resize: none;
    }

	.btn-save,
	.btn-cancel {
		@include btn();
		margin-right: 1rem;

	}

    .btn-save {
        background: var(--primary-color);
        color: var(--text-light-color);
    }

    .btn-cancel {
        background: var(--danger-color);
        color: var(--text-light-color);
    }
}
